#dialog-date-filter { display:none; }

.label-Approved { background-color: #468847; }
.label-Reject { background-color: #b94a48; }
.label-Approved { background-color: #468847; }
.label-ReadyForDirectorApprove { background-color: #f89406; }


