{% extends "base.html" %}

{% block title %}加班系统{% endblock %}

{% block content %} 

  <div class="page-header"><h1>加班列表</h1></div>
  
  <p>
    {% if "overtime.add_application" in request.user.get_group_permissions %}<a class="btn" href="{% url new_overtime %}">新增加班申请</a>{% endif %}
    <a class="btn" href="{% url overview_overtime %}">加班统计</a>
  </p>
      
  {% if "overtime.filter_application" in request.user.get_group_permissions %}
  <p>
    <span id="date-filter" class="pull-right" onclick="showDatePicker();">{{ date_filter }}</span>
    <ul class="nav nav-tabs">
      <li class="{% ifequal filter 'all' %}active{% endifequal %}"><a href="{% url filter_all_overtime %}">全部</a></li>
      <li class="{% ifequal filter 'new' %}active{% endifequal %}"><a href="{% url filter_new_overtime %}">未提交</a></li>
      <li class="{% ifequal filter 'applying' %}active{% endifequal %}"><a href="{% url filter_applying_overtime %}">申请中</a></li>
      <li class="{% ifequal filter 'approved' %}active{% endifequal %}"><a href="{% url filter_approved_overtime %}">通过</a></li>
    </ul>
  </p>
  {% endif %}
  
  

  {% if is_hr %}
    {% for app in applications %}
    <li>
        <h3><a href="{% url show_overtime app.id %}">{{ app.subject }}</a></h3>
        {{ app.state }}
        <div class="foot">最后由 • <span class="field">{{ app.modified_by.userprofile.chinese_name }}</span> • 于 • <span class="field">{{ app.modified_on|date:"Y年n月j日 H:i" }}</span> • 修改</div>
    </li>
    {% endfor %}
  {% else %}
    {% for flow in application_flows %}
  <div class="row">
    <div class="span12">
      <h4>
        <a href="{% url show_overtime flow.application.id %}">{{ flow.application.subject }}</a>
        <span class="label label-{{ flow.application.state.code }}" id="app_state">{{ flow.application.state }}</span>
      </h4>
      <small>最后由 • <strong>{{ flow.application.modified_by.userprofile.chinese_name }}</strong> • 于 • <strong>{{ flow.application.modified_on|date:"Y年n月j日 H:i" }}</strong> • 修改</small>
      <div class="pull-right">
        {% if flow.can_update %}<a class="btn btn-small" href="{% url edit_overtime flow.application.id %}">修改</a>{% endif %}
        {% if flow.can_approve %}<a class="btn btn-small" href="{% url approve_overtime flow.application.id %}">通过</a>{% endif %}
        {% if flow.can_reject %}<a class="btn btn-small" href="{% url reject_overtime flow.application.id %}">拒绝</a>{% endif %}
        {% if flow.can_apply %}<a class="btn btn-small" href="{% url apply_overtime flow.application.id %}">提交</a>{% endif %}
        {% if flow.can_revoke %}<a class="btn btn-small" href="{% url revoke_overtime flow.application.id %}">撤销</a>{% endif %}
        {% if flow.can_delete %}<a class="btn btn-small" href="{% url delete_overtime flow.application.id %}" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>{% endif %}
      </div>
    </div>
  </div>
  <hr>
    {% endfor %}
  {% endif %}

{% endblock %}
