{% extends "base.html" %}

{% block title %}加班系统{% endblock %}

{% block content %} 
<div>

    <div class="box todos">

        <h2>加班列表</h2>
        <div>{% if "overtime.add_application" in request.user.get_group_permissions %}<a href="{% url new_overtime %}">新增加班申请</a>{% endif %}</div>
        <hr>
        <div>
          <ul>
          {% if is_hr %}
            {% for app in applications %}
                <li>
                    <a href="{% url show_overtime app.id %}">{{ app.subject }}</a>
                </li>
            {% endfor %}
          {% else %}
            {% for flow in application_flows %}
                <li>
                    <a href="{% url show_overtime flow.application.id %}">{{ flow.application.subject }}</a>
                    <div class="action">
                      {% if flow.can_update %}<a href="{% url edit_overtime flow.application.id %}">修改</a>{% endif %}
                      {% if flow.can_approve %}<a href="{% url approve_overtime flow.application.id %}">通过</a>{% endif %}
                      {% if flow.can_reject %}<a href="{% url reject_overtime flow.application.id %}">拒绝</a>{% endif %}
                      {% if flow.can_apply %}<a href="{% url apply_overtime flow.application.id %}">提交</a>{% endif %}
                      {% if flow.can_revoke %}<a href="{% url revoke_overtime flow.application.id %}">撤销</a>{% endif %}
                      {% if flow.can_delete %}<a href="{% url delete_overtime flow.application.id %}" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>{% endif %}
                    </div>
                </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>        
    </div>

</div>
{% endblock %}
