{% extends "base.html" %}

{% block title %}加班详情{% endblock %}

{% block content %} 

  <div class="page-header"><h1>{{ app.subject }}</h1></div>

  <div class="row">
    <div class="span5">
      <table class="table table-condensed">
        <tr><th>主题:</th><td>{{ app.subject }}</td></tr>
        <tr><th>申请人:</th><td>{{ app.applicant.userprofile.chinese_name }}</td></tr>
        <tr><th>开始时间:</th><td>{{ app.start_time|date:"Y年n月j日 H:i" }}</td></tr>
        <tr><th>结束时间:</th><td>{{ app.end_time|date:"Y年n月j日 H:i" }}</td></tr>
        <tr><th>申请日期:</th><td>{{ app.application_date|date:"Y年n月j日 H:i" }}</td></tr>
        <tr><th>参加人员:</th><td>{{ app.participants_string }}</td></tr>
        <tr><th>备注:</th><td>{{ app.content }}</td></tr>
        <tr><th>状态:</th><td>{{ app.state.name }}</td></tr>
      </table>
    </div>
  </div>

  <h2>修改历史</h2>
  <table class="table table-condensed">
    <thead><tr><th>时间</th><th>修改人</th><th>状态</th></tr></thead>
    <tbody>
    {% for history in app.applicationhistory_set.all %}
    <tr><td>{{ history.modified_on|date:"Y年n月j日 H:i" }}</td><td>{{ history.modified_by.userprofile.chinese_name }}</td><td>{{ history.state }}</td></tr>
    {% endfor %}
    </tbody>
  </table>

  <a href="{% url overtime %}" class="btn">返回</a>

{% endblock %}
