{% extends "base.html" %}

{% block title %}加班详情{% endblock %}

{% block content %} 
<div class="box post">
  <h2>{{ app.subject }}</h2>

  <table>
    <tr><td>主题:</td><td>{{ app.subject }}</td></tr>
    <tr><td>申请人:</td><td>{{ app.applicant.userprofile.chinese_name }}</td></tr>
    <tr><td>开始时间:</td><td>{{ app.start_time|date:"Y年n月j日 H:i" }}</td></tr>
    <tr><td>结束时间:</td><td>{{ app.end_time|date:"Y年n月j日 H:i" }}</td></tr>
    <tr><td>申请日期:</td><td>{{ app.application_date|date:"Y年n月j日 H:i" }}</td></tr>
    <tr><td>参加人员:</td><td>{{ app.participants_string }}</td></tr>
    <tr><td>备注:</td><td>{{ app.content }}</td></tr>
    <tr><td>状态:</td><td>{{ app.state.name }}</td></tr>
  </table>
</div>

<div class="box">
  <h2>修改历史</h2>
  <table>
    <tr><th>时间</th><th>修改人</th><th>状态</th></tr>
    {% for history in app.applicationhistory_set.all %}
    <tr><td>{{ history.modified_on|date:"Y年n月j日 H:i" }}</td><td>{{ history.modified_by.userprofile.chinese_name }}</td><td>{{ history.state }}</td></tr>
    {% endfor %}
  </table>
</div>

<div class="box">
    <a href="{% url overtime %}">返回</a>
</div>
{% endblock %}
