{% extends "base.html" %}
{% block content %}

<div class="row">
  {% if form.errors %}
  <div class="alert alert-error">用户名或密码错误</div>
  {% endif %}
  <form method="post" class="form-horizontal">
  	{% csrf_token %}
    <div class="control-group">
      <label class="control-label" for="username">用户名</label>
      <div class="controls">
        <input id="id_username" type="text" name="username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">密码</label>
  		<div class="controls">
        <input type="password" name="password" id="id_password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">登录</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </div>
  </form>
</div>

{% endblock %}

